<div class="modal-header">
  <h4 class="modal-title pull-left">Modal</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="state$ | async as state">
    <tabset #staticTabs>
      <tab heading="Albums" id="albums" (selectTab)="selectedTab($event)">
        <ng-container *ngIf="albums$ | async">
          <table>
            <thead>
            <tr>
              <th style="width: 50px">
                Id
              </th>
              <th>
                Title
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let todo of state.albums">
              <td>
                {{todo.id}}
              </td>
              <td>
                {{todo.title}}
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
      </tab>
      <tab heading="Todos" id="todos" (selectTab)="selectedTab($event)">
        <ng-container *ngIf="todos$ | async">
          <table>
            <thead>
            <tr>
              <th style="width: 50px">
                Id
              </th>
              <th>
                Title
              </th>
              <th>
                Completed
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let todo of state.todos">
              <td>
                {{todo.id}}
              </td>
              <td>
                {{todo.title}}
              </td>
              <td>
                {{todo.completed}}
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
      </tab>
      <tab heading="Posts" id="posts" (selectTab)="selectedTab($event)">
        <ng-container *ngIf="posts$ | async">
          <table>
            <thead>
            <tr>
              <th style="width: 50px">
                Id
              </th>
              <th>
                Title
              </th>
              <th>
                Body
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let todo of state.posts">
              <td>
                {{todo.id}}
              </td>
              <td>
                {{todo.title}}
              </td>
              <td>
                {{todo.body}}
              </td>
            </tr>
            </tbody>
          </table>
        </ng-container>
      </tab>
    </tabset>
  </ng-container>
</div>
