<ng-template let-state [ngIf]="state$ | async">
  <div [formGroup]="state.form" style="display: grid; grid-template-columns: 200px auto; width: 100%;">
    <button style="margin: 10px;" class="btn btn-primary" (click)="openEditModal()">create</button>
    <input style="margin: 10px;" type="text" class="form-control" placeholder="search" formControlName="search"/>
  </div>
  <table style="width: 100%;">
    <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th>
        username
      </th>
      <th>
        email
      </th>
      <th>
        Ações
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of state.pagedUsers">
      <td>
        {{user.id}}
      </td>
      <td>
        {{user.name}}
      </td>
      <td>
        {{user.username}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-clear-wrapper dropdown-toggle"
                  aria-controls="dropdown-basic">
            ... <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item"  (click)="openEditModal(user)">Editar</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="openDetailsModal(user)">Detalhes</a></li>
          </ul>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <pagination [totalItems]="state.users.length" [itemsPerPage]="itemsPerPage" [(ngModel)]="state.currentPage"
                    (pageChanged)="pageChanged($event)"></pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</ng-template>
