<ng-template let-state [ngIf]="state$ | async">
  <div [formGroup]="state.form" style="display: grid; grid-template-columns: 200px auto; width: 500px;">
    <button style="margin: 10px;" class="btn btn-primary" (click)="openModal()">create</button>
    <input style="margin: 10px;" type="text" class="form-control" placeholder="search" formControlName="search"/>
  </div>
  <table>
    <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Title
      </th>
      <th>
        Creator
      </th>
      <th>
        Completed
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todo of state.pagedTodos" [class.completed]="todo.completed" (click)="openModal(todo)">
      <td>
        {{todo.id}}
      </td>
      <td>
        {{todo.title}}
      </td>
      <td>
        {{todo.user.name}}
      </td>
      <td>
        {{todo.completed | completed}}
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <pagination [totalItems]="state.todos.length" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                    (pageChanged)="pageChanged($event)"></pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</ng-template>
