<ng-container *ngIf="state$ | async as state">
  <form [formGroup]="state.form" (ngSubmit)="onSubmit(state.form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter user name">
      <div class="form-error" *ngIf="state.form.get('name')?.dirty && state.form.get('name')?.errors?.['required']">
        Required!
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter Username">
      <div class="form-error" *ngIf="state.form.get('username')?.dirty && state.form.get('username')?.errors?.['required']">
        Required!
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter user Email">
      <div class="form-error" *ngIf="state.form.get('email')?.dirty && state.form.get('email')?.errors?.['required']">
        Required!
      </div>
    </div>

    <!--adress-->
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" class="form-control" id="street" formControlName="street" placeholder="Enter user street">
      <div class="form-error" *ngIf="state.form.get('street')?.dirty && state.form.get('street')?.errors?.['required']">
        Required!
      </div>
    </div>
    <div class="form-group">
      <label for="suite">Suite</label>
      <input type="text" class="form-control" id="suite" formControlName="suite" placeholder="Enter user suite">
      <div class="form-error" *ngIf="state.form.get('suite')?.dirty && state.form.get('suite')?.errors?.['required']">
        Required!
      </div>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" formControlName="city" placeholder="Enter user city">
      <div class="form-error" *ngIf="state.form.get('city')?.dirty && state.form.get('city')?.errors?.['required']">
        Required!
      </div>
    </div>
    <div class="form-group">
      <label for="zipcode">Zipcode</label>
      <input type="text" class="form-control" id="zipcode" formControlName="zipcode" placeholder="Enter user zipcode">
      <div class="form-error" *ngIf="state.form.get('zipcode')?.dirty && state.form.get('zipcode')?.errors?.['required']">
        Required!
      </div>
    </div>
    <div class="form-group">
      <label for="lat">Lat</label>
      <input type="number" class="form-control" id="lat" formControlName="lat" placeholder="Enter user lat">
      <div class="form-error" *ngIf="state.form.get('lat')?.dirty && state.form.get('lat')?.errors?.['required']">
        Required!
      </div>
    </div>
    <div class="form-group">
      <label for="lng">Lng</label>
      <input type="number" class="form-control" id="lng" formControlName="lng" placeholder="Enter user lng">
      <div class="form-error" *ngIf="state.form.get('lng')?.dirty && state.form.get('lng')?.errors?.['required']">
        Required!
      </div>
    </div>

    <button type="submit" [disabled]="state.form.invalid" class="btn btn-primary">Submit</button>
  </form>
</ng-container>

